<header class="page__header">
    <nav class="nav--box">
    <a href="#" class="menu--link">
        <img src="assets/images/ico-menu.svg" alt="button-menu" class="menu--button">  
    </a>
    </nav>    
    
</header>
    <div class="hero">
       <div class="hero--container">
           <div class="title">
             <h1>Anonimous proxy</h1>
           </div>
           <div class="sentense--main">
            <p>In hac habitasse platea dictumst</p>
           </div>
           <div class="button--open">
                <a href="#" class="button-bot">
                 <img src="assets/images/icon-scroll-down.svg" alt="button-main" class="button-scroll">  
           </div>           
       </div>
    </div>

