<header id="top">
    <nav class="nav--box">
        <button class="button--header">
            <img src="assets/images/ico-menu.svg" alt="button-menu" class="menu--button">  
        </button>
    </nav>
    <div class="hero">
       <div class="hero--container">
           <div class="hero--content">
               <h1 class="title">Anonimous proxy</h1>
               <p class="sentense--main">In hac habitasse platea dictumst</p>
               <a href="#main" class="link--open">
                   <img src="assets/images/ico-scroll-down.svg" alt="button-main" class="button-scroll">
               </a>          
           </div>
       </div>
    </div>
</header>
