<header>
    <nav class="nav--box">
        <a href="#" class="menu--link">
            <img src="assets/images/ico-menu.svg" alt="button-menu" class="menu--button">  
        </a>
    </nav>
    <div class="hero">
       <div class="hero--container">
           <div class="hero--content">
               <h1 class="title">Anonimous proxy</h1>
               <p class="sentense--main">In hac habitasse platea dictumst</p>
               <a href="#" class="button--open">
                   <img src="assets/images/ico-scroll-down.svg" alt="button-main" class="button-scroll">
               </a>          
           </div>
       </div>
    </div>
</header>
