<main id="main">
    <div class="main--description">
        <div class="main--box">
          <p class="p--tips">Insomnia Tips</p>
          <h2>Looking through a window</h2>
          <p class="p--content">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper sodales rutrum.</p>
          <a class="link--go" href="#">
            <p class="link-light">Go</p>
          </a>
        </div>
    </div>
    <div class="main--detail">
        <div class="main--box">
          <h2>3 Reasons To Purchase</h2>
          <ul class="reason--container">
            <li class="reason">
              <h3>Ut sed metus</h3>
              <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="reason">
              <h3>Curabitur ac erat</h3>
              <p>Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="reason">
              <h3>Morbi dictum</h3>
              <p>Aliquam in dolor et dolor tincidunt.</p>
            </li>
          </ul>
          
            <button class="button-hard">More Reasons</button>
         
        </div>
    </div>
</main>
