<main>
  <div class="main--box">
    <div class="main--description">
      <p>Insomnia Tips</p>
      <h2>Looking Through A Window</h2>
      <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
        semper sodales rutrum.</p>
      <a href="#">
        <button class="button-light">Go</button>
      </a>
    </div>
    <div class="main--detail">
      <h2>3 Reasons To Purchase</h2>
      <div class="reason--container">
        <div class="reason">
          <h3>Ut sed metus</h3>
          <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason">
          <h3>Curabitur ac erat</h3>
          <p>Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason">
          <h3>Morbi dictum</h3>
          <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </div>
      <a href="#">
        <button class="button-hard">MoreReasons</button>
      </a>
    </div>
  </div>
</main>
