footer{
    background-color: $button-color ;
    position: relative;
.copy{
    font-size: 14px;
    color: $color-white;
    font-family: $font-family-text;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 38px;
    line-height: 30px;
}  
.heart{
    font-size: 14px;
    color: $color-white;
    font-family: $font-family-text;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
} 
}
.button--gotop{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: $color-white;
    border-radius: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    transform:translate(-50%,-50%); 
}
.heart--color{
    color:$color-white;
}

@media all and (min-width: 768px){

footer{
    background-color: $text-color;
}
.footer--container{
    display:flex;
    justify-content: space-between;
    align-items: center;  
    margin-left:30px;
    margin-right:30px;  
}
.copy{
    margin: 0;
    padding: 0;
}
.heart{
    margin: 0;
    padding: 0;
}
}