.page--header{
    margin: 0;
}
.hero{
    height: 100vh;
    background: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
 }
.hero--container{
    padding-top: 284px;
    width: 290px;
    display:flex;
    align-items: flex-end;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    flex-wrap: wrap;
    
       
}
.title{
    font-size: 42px;
    color: $color-white;
    font-family:$font-family-bigtext;
    text-transform: uppercase;    
    align-items: center;
    font-weight:bold;
    margin-top: 0px;
    width: 290px;
    text-align: center;
    
 }

 .sentense--main{
    font-size: 16px;
    color: $color-white;
    font-family:$font-family-text;
    text-align: center;
    margin-top: 0;
 }
 .nav--box{
    background-color:#0271bc;
    height: 44px;
    width: 44px;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    position: absolute;
    z-index: 1;
 }
.menu--link{


}
.menu--button{
    margin:14px;
    
    
}
