main{
    display:flex;
    flex-flow:column;
}
h2{
    font-family: $font-family-bigtext;
    font-size: 24px;
    color: $text-color;
    text-transform: capitalize;
    margin: 0;
}
.main--box{
    margin: 0 auto;
    width: 290px;
}
.main--description{
    background-color: $color-white;
    padding-bottom: 45px;
    
}

.p--tips{
    font-family: $font-family-text;
    font-size: 14px;
    color: $main-color; 
    margin-top: 30px;
    margin-bottom: 1px;
}
.p--content{
    font-family: $font-family-text;
    font-size: 18px;
    color: $text-light;
    margin-top: 15px;
    margin-bottom: 30px;
}

.link-light{
    height: 45px;
    width: 76px;
    background-color: $color-white;
    border-radius: 22.5px;
    border: solid 2px $button-color;
    font-family: $font-family-text;
    color: $button-color;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    margin:0;     
    
&:hover{
    border: 2px solid $main-color;
    color: $main-color;
    transition: ease 1s;
    
   } 
  
}
.link--go{
    text-decoration: none;
}

.main--detail{
    background-color: $color-ice;
    padding-top: 30px;
    h2{
        text-align: center;
    }
}

.reason--container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    justify-items: center;
    list-style: none;
    padding:0;
    p{
        margin:0;
        line-height: 1.67;
        font-family: $font-family-text;
        font-size: 18px;
        color: $text-color;
    }
    h3{
        margin:0;
        font-family: $font-family-bigtext;
        font-size: 18px;
        color: $text-color;
        line-height: 30px;
    }
    
}

.reason{
    width: 180px;   
}
.button-hard{
background-color: $button-color;
width: 184px;
height: 45px;
border-radius: 22.5px;
color: $color-white;
font-family: $font-family-text;
font-size: 20px;
border-style: none;
margin-bottom: 60px;
margin-left: 53px;
margin-right: 68px;
padding:0;

&:hover{
    background-color:$main-color;
    cursor: pointer;
    transition: ease 1s;
   } 
 
}
// Media queris
@media all and (min-width: 768px){
    // main
.main--box{
    margin: 0 auto;
    width: 690px;
    
}
.main--description{
    padding-bottom: 60px;
}
.main--detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p--content{
    font-size: 20px;
    line-height: 30px;
    padding:0;
    
}
h2{
    font-size: 26px; 
    line-height: 45px;
}
.p--tips{
    line-height: 30px;
}
.link-light{
    width: 91px;
}
.reason{
    width: 210px;   
}

.reason--container{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 30px; 
    p{
        font-size: 18px;
        margin-top: 14px;
        
    }
    h3{
        font-size: 24px;
    } 
}
.button-hard{
    width: 210px;
    height: 45px; 
    margin-left: 239px;
    margin-right: 280px;   
}
// .button--top{
//     display:flex;
//     display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         margin-left: 239px;
//         margin-right: 280px;   
//     }
}



@media all and (min-width: 1280px){
    // main
    .main--box{
        margin: 0 auto;
        width: 730px;
    }  
    .main--description{
        padding-bottom: 60px;
    }

    .main--detail{
        .main--box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    }
    .p--content{
        font-size: 20px;
        line-height: 30px;
        padding:0;
        
        // padding-right: 5px;
    }
    h2{
        font-size: 32px; 
        line-height: 45px;
    }
    .p--tips{
        line-height: 30px;
        font-size: 16px;
    }
    .link-light{
        width: 160px;
    }
    .reason{
        width: 210px;   
    }
    
    .reason--container{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 30px; 
        p{
            font-size: 18px;
            margin-top: 14px;
            
        }
        h3{
            font-size: 24px;
        } 
    }
    .button-hard{
        width: 210px;
        height: 45px; 
           
    }
}




