$font-family-text: 'Roboto', sans-serif;
$font-family-bigtext: 'Roboto Slab', serif;
$button-color: #f26002;
$main-color: #8ccbea;
$color-white: #ffffff;
$text-color: #000000;
$text-light: #4a4a4a;
$color-footer: #304268;
$color-ice: #eff9ff;



